
body {
  font-family: Arial;
  background: linear-gradient(120deg, #89f7fe, #66a6ff);
}
.container {
  width: 80%;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}
h2 { color: #333; }
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #ddd;
  padding: 8px;
}
th {
  background: #f2f2f2;
}
button {
  padding: 6px 10px;
  margin: 2px;
  border-radius: 5px;
}
